.clockCard {
    width: 50%;
    margin: auto;
    margin-top: 0;
}

.clock {
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}